@using Ideative.Web.Models
@model  Model1
@{
    ViewBag.Title = "Index";
    var model = Model;
}

<h2>Index</h2>
@Model.ad


@IdeativeHtmlHelpers.DynamicEditorFor(this.Html,Model,"ad")
@*@Html.DynamicTextBoxFor(dynamic => Model.ad)*@

